<header class="cabecera">
    <img src="/banner.png" alt="Cabecera del blog Benicàssim" />
</header>

    <h1 class="visually-hidden">Benimierd* – El lado B de Benicàssim</h1>

<section class="blog-container">
        <div class="list-area">
    <h2>Últimas noticias</h2>

        @for (news of newsList; track news) {
    <article class="news-card">
    <h3>{{ news.title }}</h3>
    <img [src]="news.imageUrl" alt="Imagen de la noticia" />
    <p [innerHTML]="news.text"></p>
    <p class="fecha">{{ news.date }}</p>
    </article>
    }
    </div>
    
    <div class="form-area">
    <h2>Nueva publicación</h2>
    <form (submit)="addPost($event)" class="formulario">
        <label for="titulo">Título:</label>
        <input
        id="titulo"
        type="text"
        [(ngModel)]="newPost.title"
        name="title"
        />

        <label for="imagen">Imagen (URL):</label>
        <input
        id="imagen"
        type="text"
        [(ngModel)]="newPost.imageUrl"
        name="imageUrl"
        />

        <label for="texto">Texto:</label>
        <textarea
        id="texto"
        [(ngModel)]="newPost.text"
        name="text"
        ></textarea>

        <label for="fecha">Fecha:</label>
        <input
        id="fecha"
        type="date"
        [(ngModel)]="newPost.date"
        name="date"
        />

        <button type="submit">Publicar</button>
    </form>
    </div>


</section>
